/*+goods*/
.section__goods{
	background: #eeeeee;
	padding-top: 50px;
	padding-bottom: 50px;
}
.goods-wrapper{
	overflow: hidden;
	background-color: #fff;
	margin-bottom: 40px;
	position: relative;

	&>div{
		padding: 0 20px;
	}
}

.goods-head{
	margin-top: 20px;
	margin-bottom: 20px;
	&__link{
		width: 300px;
		height: 250px;
	}
	&__img{
		display: block;
		margin: 0 auto;
	}
	&__name{
		font-size: 16px;
		color: #000;
		text-align: left;
		span{
			font-weight: bold;
		}
	}
}

.goods-middle{
	margin-bottom: 10px;
	&__price{
		position: relative;
		@include clearfix;
	}
	&__retail{
		font-size: 14px;
		color: #acacac;
		float: left;
		//margin-left: 37px;
		margin-top: 16px;
		position: relative;
		text-decoration: line-through;
		@include MQ(lg){
			margin-left: 0;
		}

	}
	&__retail-price{
    font-size: 16px;
    color: #010101;
    float: right;
	}
	&__start-price{
    font-size: 22px;
    color: #010101;
    font-weight: 700;
    float: right;
	}
	&__start{
		font-size: 30px;
		color: #25232a;
		font-weight: 900;
		float: right;
	}
	&__text{
		font-size: 12px;
    color: grey;
    float: left;
    margin-top: 7px;
	}
	&__line{
		@include clearfix;
	}
}

.goods-bottom{
	position: relative;
	&__link{
		text-align: center;
		text-decoration: none;
		font-size: 18px;
		color: #fff!important;
		display: block;
		padding: 10px;
		width: 100%;
		background: #000;
		transition:all 1s;
		&:hover{
			transition:all 1s;
			background-color: #085cd7;
			color: #fff !important;
			cursor: pointer;
		}
	}
}

.goods-wrapper-name{
	height: 70px;
	margin-bottom: 10px;
}

.goods-promocode{
	width: 75%;
	background: #222221;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	margin-left: 14px;
	padding: 4px 14px !important;
	span{
		font-size: 14px;
		font-weight: 900;
	}
}

.goods-sale{
	color: #fff;
  font-size: 12px;
	font-weight: 300;
  background: #94c11f;
	text-align: center;
  width: 60px;
  height: 60px;
	border-radius: 50%;
  position: absolute;
  z-index: 10000;
  right: 25px;
  top: 135px;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
	color: #fff;
	padding: 0 !important;
	span{
		font-size: 14px;
		position: absolute;
    top: 16px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    display: block;
	}
}

.goods-selection-btn{
	@extend .tests-start-text__btn;
}

// .goods-wrapper.goods-wrapper-promocode{
// 	min-height: 460px;
// }
